nav{
  display: flex;
  padding: 1rem;
  flex-direction: column;
    
}
.head_nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  gap: 1rem;
}

  .logo{ 
    border: solid black 1px;
    padding: 1rem;
    align-self: flex-start;
    margin-right: auto;
    width: 10%;
    
    }

  .n0, .n1, .n2, .n3, .n4{
        color: inherit;      
        text-decoration: none;
        border-right: 1px solid black;
        padding: 1rem;
}

nav a:last-child {
  border-right: none; 
  &::before{
    content:"\e940" ;
    font-family: icon;
    font-size: 1.5rem;
  } 
}

.menu_burger {
  display: none; /* Ocultamos inicialmente el menú burger */
}

/* Estilos para el botón del menú burger */
.menu_burger_button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
}

.menu_burger_button::before {
  content: "\e940";
  font-family: icon;
  font-size: 1.5rem;
}

@media (max-width: 500px) {
  .head_nav {
    display: none; /* Ocultamos la barra de navegación en la versión móvil */
  }

  .menu_burger {
    display: block; /* Mostramos el menú burger en la versión móvil */
  }
}


.teaser{
  display: flex;
  flex-direction: row;
  background-color: rgb(74, 38, 173);
  justify-content: flex-end;
  position: relative;
  @media (min-width: 48rem){

  }
}

.teaser__header{
  width: calc(50% - 3rem);
  padding-right: 3rem;
}
.teaser__header_text{
  padding: 1rem;
  
}


.teaser__picture{
  max-width: 50%;
  position: absolute;
  inset-block-end: 0rem;
  inset-inline-end: calc(50%);
  @media (min-width: 48rem){
    max-width: 25%;
    
  }
}