nav{
  display: flex;
  padding: 1rem;
  flex-direction: column;
    
}
.head_nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  gap: 1rem;
}

  .logo{ 
    
    padding: 1rem;
    align-self: flex-start;
    margin-right: auto;
    width: 10%;
    
    }

  .n0, .n1, .n2, .n3, .n4{
        color: inherit;      
        text-decoration: none;
        border-right: 1px solid black;
        padding: 1rem;
}

nav a:last-child {
  border-right: none; 
}

.teaser{
  display: flex;
  flex-direction: row;
  background-color: rgb(116, 63, 223);
  justify-content: flex-end;
  position: relative;
  
}

.teaser__header{
  display: flex;
  flex-direction: column;
  align-self: flex-start;

}
.teaser__header_text{
  padding: 1rem;
  
}


.teaser__picture{
  width: 20%;
  position: absolute;
  top: -5rem;
  left: 5rem;
}