@font-face { // esta es para agregar un tipo de letra
  font-family: maven;
  src: url("/dist/style/webfonts/MavenPro-VariableFont_wght.ttf") format("truetype-variations");
  font-variation-settings: 'wght'400, 'wght'900;
}

@font-face { // esta es para agregar los iconos, son un tipo de letra tambien
  font-family: icon;
  src: url("/dist/style/webfonts/codeconf.ttf") format("woff");
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: museo;
  src: url("/dist/style/webfonts/museo/museo300.woff") format("woff");
  
}

@font-face {
  font-family: museo5;
  src: url("/dist/style/webfonts/museo/museo500.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: museo7;
  src: url("/dist/style/webfonts/museo/museo700.woff") format("woff");
  
}