@import "_normalize.scss";
@import "_default.scss";
@import "_variable.scss";
@import "_webfonts.scss";
@import "_header.scss";
@media screen and  (max-width: 768px){};


.speaker_section {
  border: 1px solid rgb(26, 201, 41);
  padding: 1rem;
  display: grid;
  grid-row-gap: .2rem;
  @media (min-width:27rem) {
    margin: 2rem;
    grid-gap: 1.5rem;
    max-width: 64rem;
    margin: 0 auto;
    grid-template-columns: repeat( auto-fit, minmax(12rem, 1fr) );
  }
}
.speaker_card__picture{
  width: 100%;
}


.speaker_card{
     
       --primary: #E44154;
       --primaryA: #E44154DD;
       --primaryB: #E4415488;
       --primaryC: #E4415411;
       --w-circle: 50%;
     background-color: aqua;
     border: solid 1px black;
   
     font-family: 'maven pro', serif;
     padding: 1rem;
     color: #000d;
     border-radius: .5rem;
   
     @media (min-width:27rem) {
       box-shadow: none;
       background: transparent;
       min-height: 16rem;
       padding: 0;
       display: grid;
       grid-gap: 1rem;
       align-content: space-between;
     
       &:not(.speaker_card-active){
         .speaker_card{
          
           &.speaker_card__picture{
               display: grid;
               grid-template: 1fr / 1fr;
               justify-items: center;
               align-items: center;
               &::before{
                 transition: all .3s;
                 content: "more info";
                 display: grid;
                 grid-template-columns: 3rem;
                 text-align: center;
                 color: white;
                 align-content: center;
                 justify-content:center;
                 width: var(--w-circle);
                 height: var(--w-circle);
                 border-radius: var(--w-circle);
               box-shadow: 0 0 0 1rem var(--primaryB);
               background: var(--primaryA);
               z-index: 1;
               opacity: 0;
               }
   
               img, &::before{
                 grid-area: 1/1/-1/-1;
               }
           }
         }
         &:hover .speaker_card__picture::before{
          opacity: 1;
        } 
       }    
   }
   h2, p{
     margin: 0;
    }

    img{
      width: 100%;
    }
    &.card_front{
      display: grid;
    grid-template-columns: 1fr 5rem;
    @media (min-width:27rem) {
      grid-template-columns: 1fr;
    }
    }
    &.speaker_card__name{
      font-family: 'museo', serif;
    font-size: 1.2rem;
    font-weight: 400;
    display: grid;
    align-content: center;
    line-height: .95;
    strong {
      font-weight: inherit;
      opacity: .75;
    }
    }
    &.speaker_card__picture{
      align-self: start;
    overflow: hidden;
    border-radius: 100rem;
    grid-column: 2/-1;
    grid-row: 1/3;
    @media (min-width:27rem) {
      grid-column: 1/-1;
      border-radius: 3px;
      margin-bottom: .8rem;
    }
    display: grid;
    img {
      object-fit: cover;
    }
    }
    &.card_back{
      transition: all 1s;
      color: #000d;
      display: none;
      grid-column-gap: .5rem;
    }
    &.speaker_card__topic{
      font: 500 1.2rem 'maven pro', sans-serif;
      grid-column: 1/-1;
    }
    &.speaker_card__text{
      grid-column: 1/-1;
      font-size: .8rem;
      line-height: 1.5;
    }
    &.speaker_card__location{
      color: var(--primary);
      transition: opacity .3s;
      font-family: 'league spartan variable', sans-serif;
      font-variation-settings: 'wght' 400;
    }
    &.speaker_footer{
      align-self: center;
      display: none;
      align-items: center;
      justify-content: space-between;
      a {
        margin-inline-start: auto;
        flex-basis: calc(50vw - 3rem);
      }
      time {
        display: inline-flex;
      }
    }
    &.speaker_card__room{
      display: inline-flex;
  align-items: center;
  &::before {
    content:"";
    padding-left: .3rem;
    margin-left: .3rem;
    border-left: 1.5px solid #0008;
    height: .7rem;
  }
  }
  &.speaker__link{
    border: 2px solid var(--primaryB);
    padding: .5rem 1.2rem;
    border-radius: 3rem;
    font-size: .8rem;
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--primary);
    font-family: 'league spartan variable', sans-serif;
    font-variation-settings: 'wght' 500;
    transition: all .5s;
    &:hover {
      border: 2px solid var(--primaryA);
      background: var(--primary);
      color: #fff;
    }
  }  
}

.speaker_card:not(.speaker_card-active){
  .speaker_card__name, .speaker_card__location{
    padding-left: .8rem;
  }
}
.speaker_card-active{
  background: #92610b;
  display: grid;
  padding: 1.5rem;
  grid-template-rows: auto 1fr;
  //box-shadow: inset 0 0 0 .1rem #5202;
  padding-bottom: 1.5rem;
  border-radius: .4rem;
  @media (min-width:27rem) {
    border-radius: 0;
    box-shadow: none;
    padding: 1rem;
  }


.speaker_card{
  background: #000;
    border: 1px solid #888;
    &.speaker_card__room{
      margin-right: 1rem;
    }
    &.speaker_card__name{
      color: var(--primary); 
      margin-bottom: 1rem;
      strong {
        font-weight: inherit;
      }
    }
    &.speaker_card__location{
      display: none;
    }
    &.card_back{
      align-content: start;
      @media (min-width:27rem) {
        min-height: 10rem;
        grid-template: auto auto 1fr auto / 1fr 1fr;
        align-self: end;
      }
    }
    &.speaker_card__picture{
      @media (min-width:27rem) {
        display: none;
      }
    }
    &.speaker_footer{
      @media (min-width:27rem) {
        order: 3;
       }
    }
    &.speaker__link{
      @media (min-width:27rem) {
        grid-column: 1/-1;
      }
    }
  }
}

//// testing class active

.speaker_card-active {
  .speaker_card {
    &card_back {
      display: grid;
    }
    &speaker_card__name {
      display: flex;
      align-items: center;
      grid-row: span 2;
      strong {
        margin-inline-start: .3rem;
      }
    }
    &speaker_footer {
      display: flex;
    }
  } 
}


.card_front{
  background-color: purple; //esto es el header
}



.body_head__title{
  font-family: maven;
  font-variation-settings: 'wght'400;
  color: rgb(117, 93, 93);
  &::before{
    content:"\e943" ;
    font-family: icon;
  }
}

