@import "_normalize.scss";
@import "_default.scss";
@import "_variable.scss";
@import "_webfonts.scss";
@import "_header.scss";
@import "_footer.scss";


@mixin box-sizing($box-model:border-box) {
  box-sizing: $box-model;
}

*, 
*::before,
*::after {
@include box-sizing();
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

h1{
  margin: auto ;
  padding: 1rem 15rem;
}

h1::before{
  font-family: icon;
  content: "\e943";
  margin-inline-end: 1rem;

  
}

.speaker_section {
  //border: 1px solid rgb(201, 90, 26);
  display: grid;
  background-color: #e4e4e4;
 

  @media (min-width:27rem) {
    margin: 0 auto;
    max-width: 74rem;
    grid-gap: 3rem;
    width: 100%;
    margin: 0 auto;
    padding:1rem;
  grid-template-columns: repeat( auto-fit, minmax(17rem, 1fr) );
    
  }
}

.speaker_card {
display: grid;  
grid-template-columns: 1fr;
background-color: aqua;
//border: solid 1px black;
font-family: 'museo', serif;
padding: 1rem;
color: rgba(56, 33, 106, 0.867);
border-radius: .5rem;


@media (min-width:27rem) {
  --primary: #E44154;
  --primaryA: #E44154DD;
  --primaryB: #E4415488;
  --primaryC: #E4415411;
  --w-circle: 50%;
  box-shadow: none;
  background: transparent;
  min-height: 16rem;
  padding: 0;
  display: grid;
  grid-gap: 1rem;
  align-content: space-between;

  &:not(.speaker_card--active){
    .speaker_card{
          img, &::before{
            grid-area: 1/1/-1/-1;
          }
      }
    }
    &:hover .speaker_card__picture::before{
     opacity: 1;
     z-index: 1;
   } 
  }    
}
.speaker_card__picture{
width: 100%;
display: grid;
grid-template: 1fr / 1fr;
justify-items: center;
align-items: center;
object-fit: cover;
img{
 grid-area: 1/1/-1/-1;
}
&::before{
 grid-area: 1/1/-1/-1;
 transition: all .3s;
 content: "more info";
 display: grid;
 grid-template-columns: 3rem;
 text-align: center;
 color: white;
 align-content: center;
 justify-content:center;
 width: var(--w-circle);
 height: var(--w-circle);
 border-radius: var(--w-circle);
box-shadow: 0 0 0 1rem var(--primaryB);
background: var(--primaryA);
z-index: 1;
opacity: 0;
}
}

.card_front , strong{
  display: grid;
  position: relative;
  text-align:left;
  background-color: #e4e4e4;

}

.speaker_card__name {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  padding-left: 1rem ;
  padding-top: 1rem;
}

.speaker_card__location {
  font-family: maven;
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 1rem;
  color: #888;
}

.speaker_card__picture {
  position: relative;
  //height: 200px;
  overflow: hidden;
}

.speaker_card__picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.speaker_card:hover .speaker_card__circle {
  opacity: 1;
}



.card_back {
  padding: 1rem;
  background-color: #f4eae1;
  display: none;
}


.speaker_card__topic {
  color: #333;
}

.speaker_card__text {
  margin-top: 0;
  padding: 0;
  color: #413434;
}

.speaker_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
  
}

.speaker_card__time {
  font-weight: bold;
}

.speaker_card__room {
  font-weight: bold;
  &::before{
    font-family: icon;
    content: "|";
    margin-inline-end: 1rem;
  }
  
}

.speaker__link {
  color: orangered;
  text-decoration: none;
  border: solid orangered 1px;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}

.speaker__link:hover {
  color: #004499;
  
}


.speaker_card--active {
  background-color: #f4eae1;
  .speaker_card__location {
    display: none;
  }
  .speaker_card__picture {
    display: none;
  }
  .speaker_card__description {
    display: grid;
    padding: 1rem;
    font-family: maven;
    
  }
  .speaker_card__name{
    display: flex;
    font-size: 3rem;
    padding-left: 1rem;
    padding-top: 2rem;
    margin-bottom: 0;
    background-color: #f4eae1;
    strong{
      background-color: #f4eae1;
    }
  }
}