@import "_normalize.scss";
@import "_default.scss";
@import "_variable.scss";
@import "_webfonts.scss";
@media screen and  (max-width: 768px){};

body
{
  background-color: rgb(220, 239, 239);

}
nav{
  display: flex;
  padding: 1rem;
  flex-direction: row;
  align-items: end;
  justify-content:center;
  gap: 1rem;
  border: solid  
}


  .logo{ 
    border: solid 1px black;
    //padding: 1rem;
    align-self: flex-start;
    margin-right: auto;
    
    }
      .n0, .n1, .n2, .n3, .n4{
        color: inherit;      
        text-decoration: none;
        border-right: 1px solid black;
        padding: 1rem;
}
nav a:last-child {
  border-right: none; 
}


.speaker_section{
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Tres columnas con ancho flexible */
  grid-gap: 40px;
  padding: 5rem;
  margin-top: 5rem;
  
}

.speaker_card__picture{
  width: 100%;
}

